@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");

body {
  margin: 0;
  font-family: "Nunito Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;

@tailwind components;
@import "./components/Card/Card.css";
@import "./components/MiniCard/MiniCard.css";
@import "./components/Filters/Filters.css";
@import "./components/Header/Header.css";
@import "./components/RecipeDetails/RecipeDetails.css";
@import "./components/Recipes/Recipes.css";
@import "./components/SearchBar/SearchBar.css";
@import "./components/Ingredient/Ingredient.css";
@import "./components/Instruction/Instruction.css";
@import "./components/Footer/Footer.css";
@import "./components/Hero/Hero.css";
@import "./components/LoadingSpinner/LoadingSpinner.css";
@import "./components/NavFootButtons/NavFootButtons.css";
@import "./components/FavoritesPanel/FavoritesPanel.css";

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/autoplay";

@tailwind utilities;
